html{
    scroll-behavior: smooth;
    margin: 0px auto;
}

@font-face{
    font-family: Alternity;
    src: url(../Assets/Alternity.otf);
}


/* #intro{
    height: 100%;
} */



.bg-img{
    background-image: url(../Assets/bg-game.jpg);
    filter: brightness(0.60); 
    width: 100%; 
    height: 751px; 
    position: absolute; 
    background-position: cover; 
    background-size: cover;
    z-index: -5;
}






/****************** Navigation Design *************************/







.nav-div{
    background: transparent;
    color: #4d95ec;
}

.logo{
    position: relative;
    width: 65px;
    height: 65px;
    left: 35px;
}

a{
    color: #4d95ec;
    font-weight: normal;
    margin: 0 10px 3px 10px;
}

a:hover{
    transition: all ease-in-out 0.4s;
    border-radius: 5%;
}




/*************** Top Body Design ****************/



#top{
    position: relative;
    width: 100%;
    height: 655px;
}




.title{
    position: relative;
    top: 5rem;
}

.t{
    position: relative;
    font-family: 'Alternity', sans-serif;
    color: #5781cf;
    font-size: 7rem;
    transition: ease-in-out;
}

.descript{
    position: relative;
    top: 6rem;
}

.p{
    /* display: inline-block; */
    position: relative;
    font-family: 'Fira Mono', monospace;
    /* color: #324051; */
    color: #3c7bc9;
    font-size: 1.1rem;
    font-weight: normal;
}


.down-arrow{
    position: relative;
    top: 200px;
}



.go-down{
    position: relative;
    left: 47%;
    width: 80px;
    height: 80px;
    /* margin: 0 auto; */
    animation: up-down 2s linear 1s infinite alternate-reverse;
}

@keyframes up-down{

    0%   {top:0px;}
    25%  {bottom: 50px;}
    50%  {bottom: 0px;}
    75%  {bottom: 50px;}
    100% {bottom: 0px;}

}





@media screen and (max-width:599px){
    .t{
        font-size: 4rem;
        /* transition: all ease-in-out 0.4s; */
    }

    .go-down{

        width: 40px;
        height: 40px;
        transition: all linear 0.4s;
    }
}

@media screen and (min-width:600px){
    .t{
        font-size: 7rem;
        transition: all ease-out 0.4s;
    }
}



/*************** Mid Body Design ****************/


.mid-div{

    width: 100%;

}



/*************** Low Mid Design *****************/





.low-mid-div{

    width: 100%;
    
}

.buy-logo{
    border-radius:50%; 
    width: 160px; 
    height: 200px; 
    margin: auto;
}


.descript1{
    text-align: center;
    font-family: 'Fira Mono', monospace;
    margin: auto;
    display: inline-block;
    position: relative;
    top: 20px;
    width: 800px;
    line-height: 30px;

}

.plans{
    position: relative;
    margin: auto;
}



/************ Footer Design ******************/




#footer{
    width: 100%;
    height: 300px;
    background-color: #1C3754; 
    padding: 20px 0;
}