body{
    margin: 0px;
}


.map-div{
    position: absolute;
    width: 100%;
    height: 750px;
    z-index: -1;
}


.nav-div-login{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(29,60,93,1) 50%, rgba(24,97,174,1) 100%); 
}

.nav-btn1{
    border: 1px solid whitesmoke;
}


.form{
    border-radius: 3%;
    padding: 0 25px 10px 25px;
    width: 30rem;
    background-color: whitesmoke;
}

input[type=email], input[type=password]{
    width: 60%;
}

@media screen and (max-width: 550px){
    .form{
        width: 20rem;
        transition:all ease-in-out 0.7s;
    }
}