html{
    scroll-behavior: smooth;
    margin: 0px auto;
}


.bg-img{
    background-image: url(../Assets/game-city.jpg);
    filter: brightness(0.50); 
    width: 100%; 
    height: 651px; 
    position: absolute; 
    background-position: cover; 
    background-size: cover;
    z-index: -5;
}


.down-arrow{
    position: relative;
    /* margin: auto; */
    top: 70px;
    left: 45%;
}

#id{
    position: relative;
    right: 5%;
}

.sub-title{
    position: relative;
    top: 16rem;
}

.dur{
    display: inline;
    opacity: 25%;
    font-size: 1.5rem;
    
}
.packs{
    display: inline-block;
    position: relative;
    overflow: visible;
    opacity: 85%;
    font-size: 1rem;
    margin-left: 10px;
    font-family: 'Fira Mono', monospace;
}





@media all and (max-device-width: 1018px){
    .packs{
        font-size: 0.8rem;
        transition: all ease-in-out 0.2s;
    }
}

@media all and (max-device-width: 875px){
    .packs{
        font-size: 0.6rem;
        transition: all ease-in-out 0.2s;
    }
}

@media all and (max-device-width: 737px){
    .packs{
        font-size: 0.5rem;
        transition: all ease-in-out 0.2s;
    }
}

@media all and (max-device-width: 669px){
    .packs{
        font-size: 0.4rem;
        transition: all ease-in-out 0.2s;
    }
}

@media all and (max-device-width: 575px){
    .packs{
        font-size: 1rem;
        transition: all ease-in-out 0.2s;
    }
}


